@import '../../../styles/variables.scss';

.auth {
  display: flex;
  justify-content: center;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  margin-left: 5vw;
  margin-right: 5vw;
  @media (min-width: 1024px) {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
  .wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 10vh auto auto;
    .content {
      display: flex;
      flex-direction: column-reverse;
      gap: 2.5rem;
      @media (min-width: 768px) {
        gap: 1.25rem;
        flex-direction: row;
      }
      @media (min-width: 1024px) {
        margin-top: 2.5rem;
      }

      .rightContent {
        display: flex;
        flex: 1;
        flex-direction: column;
        .boxTitle {
          padding: 10px 0 17px;
          font-weight: 600;
          font-size: 20px;
          text-align: center;
        }
        .inputControl {
          position: relative;
          display: block;
          width: 100%;
          .inputField {
            position: relative;
            width: 100%;
            height: 54px;
            box-sizing: border-box;
            overflow: hidden;
            .input {
              border-radius: 3px;
              width: 100%;
              height: 100%;
              padding: 24px 16px 8px;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              line-height: 16px;
              font-size: 14px;
              color: #263241;
              background-color: #e4f7fe;
              z-index: 1;
              border: 1px solid #d3d4d6;
              transition: border 0.3s;
              &:focus,
              &:active {
                border-color: $primary-color;
              }
            }
            .input:focus + label,
            .input:-webkit-autofill + label {
              transform: translateY(-10px) scale(0.85);
            }
            .label {
              position: absolute;
              height: 20px;
              line-height: 20px;
              font-size: 14px;
              color: #9aa5b5;
              left: 16px;
              top: 17px;
              z-index: 2;
              cursor: text;
              transform-origin: top left;
              transition: all 0.2s ease-out;
            }
          }
          &.name {
            margin-bottom: 10px;
          }
          &.password {
            margin-top: 16px;
          }

          .inputBottomMessage {
            width: 100%;
            position: relative;
            .errorMessage {
              color: #fa5252;
              margin-top: 4px;
              display: block;
              line-height: 16px;
              font-size: 12px;
            }
          }
        }
        .forget {
          margin-top: 16px;
          font-size: 14px;
          line-height: 14px;

          display: flex;
          justify-content: flex-end;
          > a {
            text-align: right;
            color: $primary-color;
            cursor: pointer;
          }
        }
        .loginBtnSubmit {
          font-size: 14px;
          margin-top: 16px;
          width: 100%;
          height: 48px;
          border-radius: 3px;
          background-color: $primary-color;
          color: #fff;
          &:hover {
            opacity: 0.9;
            color: #f0f1f4;
          }
        }
        .formLink {
          padding-top: 16px;
        }
        .thirdList {
          padding-top: 24px;
          > .label {
            color: #fff;
            font-size: 12px;
            text-align: center;
            height: 18px;
            line-height: 18px;
            position: relative;
            span {
              position: relative;
              z-index: 1;
              background: rgb(36 37 38);
              display: inline-block;
              padding: 0 16px;
            }
            &::after {
              z-index: 0;
              position: absolute;
              left: 0;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
              content: '';
              display: block;
              border-top: 1px solid #ccd2da;
            }
          }
          > .list {
            display: flex;
            justify-content: space-around;
            margin-top: 24px;
            a {
              font-size: 14px;
              color: #fff;
              display: inline-block;
              width: 128px;
              padding: 0 15px;
              display: flex;
              flex-direction: column;
              align-items: center;
              i {
                width: 40px;
                height: 40px;
                background: $secondary-color;
                border-radius: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 10px;
              }
            }
          }
        }
      }
    }
  }
}

.loginTab {
  width: 100%;
  height: 40px;
  margin-bottom: 24px;
  box-sizing: border-box;
  padding: 2px 4px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  background-color: #263241;
  .tab {
    flex: 1;
    height: 100%;
    border-radius: 4px;
    font-size: 14px;
    line-height: 36px;
    text-align: center;
    &.active {
      background: $primary-color;
      color: #fff;
    }
  }
}
